/*
Color Palette
1. Dusk Blue    : rgb(4, 53, 88)
2. Golden Sun   : rgb(170, 91, 11)
3. Ray of Beige : rgb(253, 252, 237)
*/

/* Common Section */
@font-face { font-family: "Futura Light BT"; src: url('../font/futura_light_bt.ttf'); } 
@font-face { font-family: "Futura Medium BT"; src: url('../font/futura_medium_bt.ttf');}

body {
    font-family: "Futura Light BT", Verdana, Tahoma;
    margin: 0;
    padding: 0;
    color: rgb(4, 53, 88);
    background-color: rgb(253, 252, 237);
    overflow: hidden;
}

.header {
    box-sizing: border-box;
    padding: 3% 0 0 2.5%;
    height: 10%;
}

.header .nav #navigation img:hover {
    cursor: pointer;
}

ul{
    list-style: none;
}

ul li {
    padding-top: 0.5em;
}

ul li a {
    font-weight: bold;
    font-size: 1.2em;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

#navigation-dropdown {
    transition: 0.3s ease-out;
}
.hide {
    opacity: 0;
    height: 0 !important;
}

.hero {
    padding-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    height: 65%;
}

.hero .intro {
    padding: 0;
    font-size: 5em;
    font-weight: bold;
    font-family: "Futura Medium BT", Verdana, Tahoma;
    content: url(../logo_pagi_studio.png);
    opacity: 0;
    animation: 1s fadein;
    animation-fill-mode: forwards;
}

.hero p {
    font-weight: bold;
    font-size: 1.1em;
    opacity: 0;
    animation: 1s fadein;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

@media only screen and (max-width: 600px) {
    .hero {
        height: 75%;
    }
    .hero p {
        font-size: 0.8em;
        padding: 0 3%;
    }
}

@keyframes fadein {
    from  { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeinmoveup {
    from {
        opacity: 0;
        transform: translateY(250%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.footer  {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    opacity: 0;
    animation: 1s fadein;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    height: 25%;
    padding-top: 1.2em;
} 

.footer div {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 1.2em;
    padding: 0 1%;
    height: 50px;
}

.footer div img {
    padding: 0 0.8em 0 0.8em;
    width: 70%;
    height: 70%;
}

@media only screen and (max-width: 600px) {
    .footer  {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 15%;
        padding-top: 1.2em;
        bottom: 0;
    } 
    .footer div {
        font-size: 0.8em;
        padding: 0 1%;
        height: 40px;
    }
    .footer div img {
        padding: 0 0.8em 0 0.8em;
        width: 70%;
        height: 70%;
    }
}